<div id="home">
	<br>
	<br>
	<div class="container">
		<div class="row">
			<div class="col-8 offset-2">
				<h1>{{msg}}</h1>
				{{>navigation/nav-users}}
				{{>navigation/nav-logout}}
				<h2>Greedy Bastard List</h2>
				<form class="clearfix mb-4 create-form">
					<div class="form-group">
						<label for="item"></label>
						<input type="text" id="item" class="form-control" aria-describedby="item" placeholder="Enter Item Description">
					</div>
					<div class="form-group">
						<label for="price"></label>
						<input class="form-control" id="price" aria-describedby="price" placeholder="Enter Price (if known)"></textarea>
					</div>
					<div class="form-group">
						<label for="comments"></label>
						<input class="form-control" id="comments" aria-describedby="comments" placeholder="Enter additional info such as size, color, etc"></textarea>
					</div>
					<button id="submit" class="btn btn-primary float-right">Submit</button>
				</form>

		{{>navigation/nav-logout}}
    {{>navigation/nav-users}}
 <div class="container">

      <div class="inputContainer z-depth-5">
				
        <div class="row">
					
          <div class="col-8 offset-2">
					
			  <br>
            <h3 class="center-align">MORE STUFF I WANT</h3>
              <form class="clearfix mb-4 create-form">
			    <div class="form-group">
			      <label for="item"></label>
				    <input type="text" id="item" class="form-control" aria-describedby="item" placeholder="Enter Item Description">
				</div>
				<div class="form-group">
				  <label for="price"></label>
				    <input class="form-control" id="price" aria-describedby="price" placeholder="Enter Price (if known)"></textarea>
				</div>
				<div class="form-group">
				  <label for="comments"></label>
				    <input class="form-control" id="comments" aria-describedby="comments" placeholder="Enter additional info such as size, color, etc"></textarea>
				</div>
				  <button id="submit" class="btn btn-primary red float-right">Submit</button>
				</form>
			</div>
	    </div>
	  </div>
  </div>
<br>
  <div class="container">
    <div class="tableContainer">
      <div class="row">
        <div class="col-12">
		  <table class="centered responsive-table z-depth-5">
		    <thead>
		    <br>
		      <h3 class="center-align" id="greedy">I'M A GREEDY BASTARD - HERE IS MY LIST</h3>
		    <br>
		  <tr>
		    <th>ITEM</th>
			<th>PRICE</th>
			<th>COMMENTS</th>
			<th>NEVER MIND</th>
		  </tr>
		  </thead>
            {{#each gift}}
			  <tbody>
			    <tr>
			      <td class="itemName">
				    <h5>{{this.item}}</h5>
			      </td>
			      <td>{{this.price}}</td>
				  <td>{{this.comments}}</td>
				  <td data-id="{{this.id}}"><button class="large material-icons btn-floating btn-large waves-effect waves-light red delete">delete_forever
					</button></td>
				</tr>
			{{/each}}
              </tbody>
	      </table>
	    </div>
	  </div>
	</div>
  </div>
	
