<div id="home">
  <div class="container">
    <div class="tableContainer">
      <div class="row">
        <div class="col-12">
          <table id="shoppingList" class="centered responsive-table z-depth-5">
            <thead>
            <br>
              <h3 class="center-align" id="greedy">THESE GREEDY BASTARDS!</h3>
            <br>
              <tr>
                <th>GREEDY BASTARD</th>
                <th>ITEM</th>
                <th>PRICE</th>
                <th>COMMENTS</th>
                <th>BUY IT</th>
                <th>FIND ONLINE</th>
                    <th>NEVERMIND</th>
              </tr>
           </thead>
             {{#each gift}}
              <tbody>
                <tr>
                        <td><h5>{{user.name}}</h5></td>
                  <td class="itemName"><h5>{{this.item}}</h5>
                  </td>
                  <td>{{this.price}}</td>
                  <td>{{this.comments}}</td>
                  <td data-id="{{this.id}}"><button class="large material-icons btn-floating btn-large waves-effect waves-light green delete">attach_money
                    </button></td>
                  <td>
                  <form action="http://www.google.com/search" method="get">
                    <input type="text" class="itemInput" name="q" value="{{this.item}}" />
                    <input type="submit" id="online" target="_blank" value="Find Me Online" />
                  </form>
                    </td>
                    <td><button data-item="{{this.item}}" data-id="{{this.id}}" class="large material-icons btn-floating btn-large waves-effect waves-light red nevermind">remove</button></td>
                   </tr>
             {{/each}}
              </tbody>
            </table>
        </div>
      </div>
    </div>
  </div>